html,body {
    height:100%;
    background-image: url(../images/background.jpg);
}

/*CAPÇALERA AMB GRADIENT*/
header {

    display:block;
    background: linear-gradient(red, yellow, green);
    padding:10px 0px;
}

/*CONTINGUT PRINCIPAL*/
section {
    width: 79%;
    float: left;
    overflow: auto;
    padding-bottom: 60px;
    padding-top:30px;
}

/*CONTENEDOR DELS BOTONS*/
aside {
    float: right;
    border: 2px solid blue;
    border-radius: 15px;
    width: 19%;


}

/*PEU DE PAGINA AMB GRADIENT*/
footer {
    position: relative;
    margin-top: -50px;
    height: 40px;
    padding:5px 0px;
    clear: both;
    background: repeating-radial-gradient( lawngreen 5%, black 10%);
    text-align: center;
    color: #b40002;
    font-size: 30px;
    font-family: fantasy;

}
figure {
    display: table; margin: 0 auto;

}

#logo {
    width:500px;
    height:50px;
}

/*AMPLADA RESPONSIVA AUDIO I VIDEO*/
#audio{
    width: 100%;
}

#video{
    width: 100%;
}
/*BOTONS AMB TRANSFORMS I TRANSITIONS*/
#button1{
    transform: rotate(45deg);
    width: 80px;
    height: 40px;
    color: white;
    font-family:  fantasy;
    position: relative;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    float: left;
    margin: 40px 20px 30px;
    border-radius: 5px;
    border: 1px solid #000000;
    background: red;
}

#button1:hover{
    font-size: 20px;
    background-color: black;
    transform: rotate(360deg);
    transition-property:transform,  background,font-size;
    transition-duration: 1s,1s,1s,1s;
}


#button2 {
    transform: rotateY(180deg);

    width: 80px;
    height: 40px;
    color: white;
    font-family: fantasy;
    position: relative;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    float: left;
    margin-top: 40px;
    border-radius: 5px;
    border: 1px solid #000000;
    background: red;
    opacity: 0.4;
}
#button2:hover{
    font-size: 20px;
    background-color: black;
    transform: rotateY(360deg);
    transition-property:transform,  background-color,font-size,opacity;
    transition-duration: 1s,1s,1s,1s;
    opacity:1;
}




